
 :root {
    --cor1: rgb(34, 34, 211);
 }

/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; /* Cor de fundo */
    color: #333; /* Cor do texto */
}

/* Cabeçalho */
header {
    background-color: var(--cor1); /* Cor do cabeçalho */
    color: white;
    padding: 20px;
    text-align: center;
}

/* Navegação */
nav {
    background-color: #333; /* Cor da barra de navegação */
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

/* Conteúdo Principal */
main {
    padding: 20px;
}

/* Rodapé */
footer {
    background-color: #333; /* Cor do rodapé */
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


